@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.content{
    width: 600px;
    color: white;
    /* background: black; */
    margin: 50px auto;
    display: flex;
}
.nav{
    height: 260px;
    width: 70px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(2,0,36,1);
}
.nav div{
    width: 100%;
    height: 65px;
    padding-top: 30%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.nav div:hover{
    background: white;
    color: rgba(2,0,36,1);
}
.information{
    display: none;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(1, 0, 29) 0%, rgb(6, 6, 82) 35%, rgb(0, 110, 255) 100%);
    font-size: 12px;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    /* padding: 15px;
    width: 530px;
    height: auto; */
    transition: 1s;
}
.information h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.information h2{
    font-size: 14px;
    line-height: 1.6;
}
.information h3{
    line-height: 1.8;
}
.registration, .sign{
    display: none;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(1, 0, 29) 0%, rgb(6, 6, 82) 35%, rgb(0, 110, 255) 100%);
    font-size: 12px;
    
    overflow: hidden;
    padding: 15px;
    width: 530px;
    transition: 2s;
}
.registration{
    width: 0;
    height: 0;
    opacity: 0;
}
.registration h1, .sign h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.registration form, .sign form{
    width: 90%;
    margin: auto;
    box-shadow: -1px 6px 12px 10px rgba(20, 34, 45, 0.2);
    padding: 15px;
}
.registration form h2, .sign form h2{
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
.input{
    display: flex;
    flex-wrap: wrap;
}
.input input::placeholder{
    color: white;
}
.input input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
button{
    width: 100%;
    height: 40px;
    color: white;
    background: rgba(2,0,36,1);
    border: none;
    cursor: pointer;
    
    transition: .5s;
}
button:hover{
    color: rgba(2,0,36,1);
    background: white;

}
.block{
    display: flex;
    margin-top: 20px;
    height: 50px;
}
.block div{
    width: 50%;
    text-align: center;
    background: rgba(2,0,36,1);
    padding-top: 12px;
    cursor: pointer;
    transition: .5s;
}
.block div:hover{
    background:white;
    color: rgba(2,0,36,1);
}
.block h1{
    font-size: 15px;
    padding-top: 3px;
}
.sign{
    /* display: block; */
}